<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <div class="well login-wall">
                <h1>Sign In</h1>
                <form novalidate (submit)="onSubmit()" *ngIf="active" #loginForm="ngForm">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input id="username" type="email" class="form-control" [(ngModel)]="model.username"
                               ngControl="username" #username="ngForm" required>
                    </div>
                    <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                        <b>Email address</b> is required!
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" [(ngModel)]="model.password"
                               ngControl="password" #password="ngForm" required>
                    </div>
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                        <b>Password</b> is required!
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> Remember me
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>