<div class="jumbotron">
    <div class="container">
        <h1>Welcome NyReader!</h1>
        <p>Welcome component</p>
        <p>
         TEKST
        </p>
    </div>
</div>

<div class="jumbotron">
	<div class="container">
		<h1>another jumbotron</h1>
		<p>Contents...</p>
		<p>
			<a class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>another jumbotron</h1>
        <p>Contents...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>another jumbotron</h1>
        <p>Contents...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>another jumbotron</h1>
        <p>Contents...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>
