<div class="well feed-form-well">
    <div>
        <form class="feedForm" novalidate (submit)="onSubmit()" *ngIf="active">
            <label for="feedAddress" class="formLabel">{{'ADD_NEW_HEADER' | translate}}</label>

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <input id="feedAddress" class="form-control" required type="url" [(ngModel)]="newUrl"
                               ngControl="feedInput" #feedInput="ngForm">
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-submit" id="submitBtn" [disabled]="!feedInput.valid">
                        {{'ADD' | translate}}
                    </button>
                </div>
            </div>


            <div [hidden]="feedInput.valid || feedInput.pristine" class="alert alert-danger">
                {{'PROVIDE_VALID_URL' | translate}}
            </div>
            <div *ngIf="feedAlreadyExists" class="alert alert-danger">
                {{'ALREADY_SUBSCRIBED' | translate}}
                <a class="close" data-dismiss="alert" aria-label="close" (click)="dismissExistsError()">&times;</a>
            </div>
            <div *ngIf="feedProcessingError" class="alert alert-danger">
                {{'ERROR_PROCESSING' | translate}}
                <a class="close" data-dismiss="alert" aria-label="close" (click)="dismissProcessingError()">&times;</a>
            </div>

        </form>
    </div>
</div>

<div class="well">
    <p class="feeds-title">{{'MY_FEEDS' | translate}}</p>
    <ul class="feed-list">
        <li *ngFor="let feed of feeds">
            <div class="row">
                <div class="col-md-8">
                    <a href="{{feed.link}}" class="btn btn-title"
                       (click)="redirectTo(feed.link, $event)">{{feed.title}}</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-display" (click)="displayFeed(feed)">{{'DISPLAY' | translate}}</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-delete" (click)="deleteFeed(feed.url)">{{'DELETE' | translate}}</a>
                </div>
            </div>
        </li>

    </ul>

    <div class="spinner" *ngIf="isLoading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>

<div *ngIf="currentFeed" class="well">
    <div>
        <p class="feeds-title">{{currentFeed.title}}</p>
    </div>
    <div>
        <p class="feeds-description">{{currentFeed.description}}</p>
    </div>
    <ul class="entries-list">
        <li *ngFor="let entry of currentFeed.entries">
            <a href="{{entry.link}}" (click)="redirectTo(entry.link, $event)" class="btn btn-entry">
                <div class="row">
                    <div class="col-md-12 entry-title">
                        {{entry.title}}<
                    </div>
                    <div *ngIf="entry.description" class="col-md-12 entry-description">
                        {{entry.description}}
                    </div>
                    <div *ngIf="entry.date" class="col-md-12 entry-date">
                        {{'PUBLISHED' | translate}}{{getDate(entry.date)}}
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
