<div class="jumbotron">
    <div class="container">
        <h1>user home</h1>
        <p>Contents...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>

    <div>
        <form class="feedForm" novalidate (submit)="onSubmit()" *ngIf="active">
            <div class="form-group">
                <label for="feedAddress">New feed</label>
                <input id="feedAddress" class="form-control" required type="url" [(ngModel)]="newUrl"
                       ngControl="feedInput" #feedInput="ngForm">
            </div>

            <div [hidden]="feedInput.valid || feedInput.pristine" class="alert alert-danger">
                Please provide a valid address!
            </div>
            <div *ngIf="feedAlreadyExists" class="alert alert-danger">
                You have already subscribed to this channel.
            </div>
            <div *ngIf="feedProcessingError" class="alert alert-danger">
                There was an error processing that channel. Please check if the url is correct.
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!feedInput.valid">
                Add new feed
            </button>
        </form>
    </div>

    <div>
        <h3>Feeds</h3>
        <ul>
            <li *ngFor="let feed of feeds">
                {{feed.url}}
                <button class="btn btn-info" (click)="displayFeed(feed)">Display</button>
                <button class="btn btn-danger" (click)="deleteFeed(feed.url)">Delete</button>
            </li>
        </ul>
    </div>

    <div *ngIf="currentFeed">
        <h3>{{currentFeed.title}}</h3>
        <ul>
            <li *ngFor="let entry of currentFeed.entries">
                <a href="{{entry.link}}" (click)="redirectTo(entry.link, $event)">{{entry.title}} </a>
            </li>
        </ul>

    </div>
</div>

