.sidebar {
  float: left;
  width: 15%;
  height: 100%;
  background-color: rebeccapurple;

    ul{
      list-style: none;
      display: inline;
    }
}

.content {
  float: right;
  width: 85%;
  background-color: red;
}
