<div class="sidebar">
    <ul>
        <li><a [routerLink]="['Welcome']" class="btn btn-primary btn-lg"> Home</a></li>
        <li><a *ngIf="!isLoggedin()" [routerLink]="['Login']" class="btn btn-primary btn-lg"> Login</a></li>
        <li><a *ngIf="!isLoggedin()" [routerLink]="['Register']" class="btn btn-primary btn-lg"> Register</a></li>
        <li><a *ngIf="isLoggedin()" (click)="logout()" class="btn btn-primary btn-lg"> Sign out</a></li>
    </ul>
</div>

<div class="content container">
    <router-outlet></router-outlet>

</div>


<footer>Footer</footer>