<div class="sidebar">
    <ul>
        <li><a [routerLink]="['Welcome']" class="btn btn-primary btn-lg"> NyReader</a></li>
        <li><a *ngIf="!isLoggedin()" [routerLink]="['Login']" class="btn btn-primary btn-lg"> Login</a></li>
        <li><a *ngIf="!isLoggedin()" [routerLink]="['Register']" class="btn btn-primary btn-lg"> Register</a></li>
        <li><a *ngIf="isLoggedin()" [routerLink]="['Home']" class="btn btn-primary btn-lg"> My page</a></li>
        <li><a *ngIf="isLoggedin()" (click)="logout()" class="btn btn-primary btn-lg"> Sign out</a></li>
        <li><a class="btn btn-info" (click)="changeLanguage('pl')">PL</a></li>
        <li><a class="btn btn-info" (click)="changeLanguage('en')">EN</a></li>
    </ul>
</div>

<div class="url container">
    <div>
        <h1>translate test</h1>
        <div>{{'HELLO' | translate}}</div>
        <div>{{'LOGIN' | translate}}</div>
    </div>
    <router-outlet></router-outlet>
</div>
<footer>Footer</footer>