<sidebar></sidebar>

<div id="wrapper">
    <div class="container">
        <div class="col-md-offset-3 col-md-10">
            <div class="router">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-offset-3">
                <p class="text-muted credit">© 2016 | <span><a href="https://github.com/DudaKamil">Kamil Duda</a></span>
                    | <span><a href="https://pl.linkedin.com/in/kamilduda">LinkedIn</a></span> | <span><a
                            href="https://github.com/DudaKamil">GitHub</a></span></p>
            </div>
        </div>
    </div>
</div>