<div class="account-well">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{'ACC_NAME' | translate}}</h2>
            </div>
            <div class="col-md-6">
                <h2>{{accountName}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="password-well">
    <h1>{{'PASSSWD_CHANGE' | translate}}</h1>
    <form [ngFormModel]="passwordForm" novalidate (submit)="onSubmit()" *ngIf="active">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentPassword">{{'CURR_PASSWD' | translate}}</label>
                    <input id="currentPassword" type="password" class="form-control"
                           placeholder="{{'CURR_PASSWD_PLACE' | translate}}"
                           [(ngModel)]="model.currentPassword" ngControl="currentPassword" #currentPassword="ngForm">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="newPassword">{{'NEW_PASSWD' | translate}}</label>
                    <input id="newPassword" type="password" class="form-control"
                           placeholder="{{'NEW_PASSWD_PLACE' | translate}}"
                           [(ngModel)]="model.newPassword" ngControl="newPassword" #newPassword="ngForm">
                </div>
            </div>
            <div class="col-md-6">
                <div class=" form-group">
                    <label for="confirm_password">{{'PASSWD_CONFIRM' | translate}}</label>
                    <input id="confirm_password" type="password" class="form-control"
                           placeholder="{{'PASSWD_CONFIRM_PLACE' | translate}}"
                           ngControl="confirm_password" #confirm_password="ngForm" [(ngModel)]="model.passwordRepeat"
                           (keyup)="onKeyup(confirm_password.value)">
                </div>
            </div>
        </div>

        <div *ngIf="passwordError" class="alert alert-danger">
            {{'PASSWD_MATCH_ERROR' | translate}}
        </div>

        <div *ngIf="isSuccess" class="alert alert-success">
            {{'PASSWD_CHANGED' | translate}}
            <a class="close" data-dismiss="alert" aria-label="close" (click)="dismissInfo()">&times;</a>
        </div>

        <div *ngIf="isError" class="alert alert-danger">
            {{'CHECK_CURR_PASSWD' | translate}}
            <a class="close" data-dismiss="alert" aria-label="close" (click)="dismissError()">&times;</a>
        </div>

        <div class="row">
            <div class="col-md-4 pull-right">
                <button type="submit" class="btn btn-success" [disabled]="!passwordForm.valid || passwordError">
                    {{'CHANGE_PASSWD' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
