<div class="register-form">
    <div class="well register-well">
        <h1>{{'SIGN_UP_TITLE' | translate}}</h1>
        <form [ngFormModel]="registerForm" novalidate (submit)="onSubmit()" *ngIf="active">
            <div class="form-group">
                <label for="username">Email </label>
                <input id="username" type="email" class="form-control" placeholder="email"
                       [(ngModel)]="model.username" ngControl="username" #username="ngForm">
            </div>
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                {{'EMAIL_ERROR' | translate}}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">{{'PASSWD' | translate}}</label>
                        <input id="password" type="password" class="form-control"
                               placeholder="{{'PASSWD_PLACE' | translate}}"
                               [(ngModel)]="model.password" ngControl="password" #password="ngForm">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" form-group">
                        <label for="confirm_password">{{'PASSWD_CONFIRM' | translate}}</label>
                        <input id="confirm_password" type="password" class="form-control"
                               placeholder="{{'PASSWD_CONFIRM_PLACE' | translate}}"
                               ngControl="confirm_password" #confirm_password="ngForm" [(ngModel)]="confirmPassword"
                               (keyup)="onKeyup(confirm_password.value)">
                    </div>
                </div>
            </div>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                {{'PASSWD_ERROR' | translate}}
                <div *ngIf="error">
                    {{'USER_EXISTS_ERROR' | translate}}
                </div>
            </div>
            <div *ngIf="passwordError" class="alert alert-danger">
                {{'PASSWD_MATCH_ERROR' | translate}}
            </div>

            <div class="row">
                <div class="col-md-4 pull-right">
                    <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid || passwordError">
                        {{'SIGN_UP' | translate}}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pull-right">
                    <a [routerLink]="['Login']" class="btn btn-primary"> {{'HAVE_ACC' | translate}}</a>
                </div>
            </div>
        </form>
    </div>
</div>
